@font-face {
    font-family: 'Font';
    src:url('FC Muffin Regular.otf') format('opentype');
}
.a1 {
    border-radius: 25px;
    margin: auto;
    width: 40%;
    border: 8px solid rgb(213, 105, 255);
    background:rgb(117, 19, 247);
    padding: 10px;
    font-family: "Font", monospace;
    font-size:30px;
}

#b1 {
   margin: auto;
    width: 40%;
}
html { 
    background-color: rgb(0, 255, 242);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.button {
    border: 2px solid black;
    border-radius: 6px;
    background-color: inherit; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Font", monospace;
}
.button1 {
    border-color: #94fa0f;
    color: rgb(179, 255, 1);
  }
  
.button1:hover {
    background-color: #00ffea;
    color: white;
  }
.button3 {
    border-color: #ff00b3;
    color: red;
} 
.button3:hover {
    background: #2f00ff;
    color: white;
 }
.card{
    border-radius: 20px;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(6, 227, 243);
    background:rgb(0, 231, 96);
    padding: 10px;
 }
