html{
  font-family: 'Srisakdi', cursive;
      font-size: 30px;
      font-weight:bolder;
}

.tdn{
  text-align: center;
  background-color: #36a5d8;
  border-radius: 50px;

}
a#jud {
  text-align: justify;
}


td,tr {
  background-color:#bbeecf;
  color: rgb(214, 12, 12);
}
th,p {
    background-color:#ffcda3;
    color: rgb(175, 107, 107);
  }

h2 {
    color: #eb1a1ac4;
}   
